* {
    box-sizing: border-box;
}


body,
html {}

img {
    width: 100%;
}

/*******************INDEX.HTML START ************/

/*******************MENU MOBILE******************/
.logo {
    position: absolute;
    top: 102vw;
    left: 1.5vw;
    width: 35%;

}


#splash {
    top: 0%;
    background-image: url(uploads/splash.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: absolute;
}

.tekst {
    font-family: calibri;
    margin-top: 130%;
}

 button {
        font-family: calibri;
        font-size: 2vw;
        color: white;
        margin-top: 3vw;
        margin-left: 0vw;
        background-color: red;
        width: 40%;
     height: 5vw;
    }

/******************* DESKTOP ********************/

@media only screen and (min-width: 992px) {

    #desktop {
        display: none;
        background-color: white;
        height: 5.5vw;
    }


    .logo {
        z-index: 2;
        width: 15%;
        position: absolute;
        top: 0.5vw;
        left: 1vw;
    }

    .mobilemenu {
        display: none;
    }

    #desktop {
        display: block;
        position: fixed;
        top: 0;
        height: 5vw;
        width: 100%;
        float: right;
        z-index: 1;
    }

    .tekst {
        font-family: calibri;
        margin-top: 11%;
        margin-left: 2%;
        width: 45%;
    }

    #splash {
        margin-top: 0%;
        margin-left: 50%;
        background-image: url(uploads/splash.jpg);
        width: 50%;
        height: 100%;
        opacity: 0.8;
        background-size: 100%;
        position: absolute;
    }

    button {
        font-family: calibri;
        font-size: 2vw;
        color: white;
        margin-top: 3vw;
        margin-left: 32vw;
        background-color: red;
        width: 15%;
        height: 2.vw;
    }
}

/*******************INDEX.HTML SLUT ************/
