* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}


p {
    font-family: Arial;
    color: #655d5f;
    line-height: 1.5rem;
}

.kursiv {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: calibri;
}

section h2 {
    color: black;
}

footer {
    height: 60vh;
    width: 100vw;
    background-image: url(footer-mobil.png);
    background-size: cover;
    background-repeat: no-repeat;

}

video {
    width: 100%;
}

footer + h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
}

h1,
h2 {
    text-align: left;
    font-size: 2rem;
}

section p {
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ffffff;
    max-height: 8vh;
}

nav a {
    color: #ffffff;
}

.logo {
    color: #655d5f;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2rem;
    font-family: Arial;
}

.logo img {
    width: 18%;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 1rem;
}

.nav-links {
    display: flex;
    width: 35%;
    justify-content: space-around;
    z-index: 100;
    overflow-x: hidden;
}

.nav-links a {
    text-decoration: none;
    font-size: 0.7rem;

}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links li {
    list-style: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: arial;
    letter-spacing: 1px;
    font-weight: bold;
    font-size 0.7rem;
    cursor: pointer;
}

.burger {
    display: none;

}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
    z-index: 99;
}

section:nth-child(even) {
    flex-direction: row-reverse;

}

section:nth-child(odd) {
    background-color: #f2f2f2;
}

button {
    color: white;
    background-color: #d72824;
    padding: 1rem 2rem;
    font-size: 1rem;
}



.button_center {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.button_left {
    padding: 2rem 0;
}

section {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}


.column {
    flex-grow: 1;
    flex-basis: 350px;
}

.column img {
    width: 100%;


}

section h2 {
    padding-bottom: 2rem;

}


section h1 {
    padding-bottom: 2rem;
}


/*Footer Mobil*/


#tak {
    display: block
}

#tak h2 {
    text-align: center;
}




#splash {
    height: 50vw;
    width: 100vw;
    background-image: url(uploads/splash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*    background-attachment: fixed;*/

}




@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #D9000D;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }



    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px;
        )
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 768px) {
    .logo img {
        width: 16%;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 1rem;
    }

    .knap {
        background-color: #d72824;
        padding: 0 1rem;

    }

    .knap a {
        color: white;
    }

    .black {
        background-color: black;
        padding: 0 1rem;
    }

    .black a {
        color: white;
    }

    /*footer ipad*/


    nav a {
        color: black;
        font-size: 0.8rem;
    }


    #splash {
        height: 50vw;
        width: 100vw;
        background-image: url(uploads/splash.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }

    footer {
        height: 60vh;
        width: 100vw;
        background-image: url(footer.png);
        background-size: cover;
        background-repeat: no-repeat;

    }

    section {
        padding: 3rem 10rem;

    }

    .column {
        flex-grow: 1;
        flex-basis: 450px;
    }

    .column img {
        width: 100%;
    }

    .padright {
        padding-left: 0;
        padding-right: 2rem;

    }

    #tak {
        padding: 3rem 10rem 1rem 10rem;
    }

    .padleft {
        padding-right: 0;
        padding-left: 2rem;
    }

}







@media screen and (min-width: 1024px) {
    .nav-links {
        display: flex;
        width: 60%;
        justify-content: space-around;
        margin-left: 80vw;
    }

    .logo img {
        width: 60%;
        vertical-align: middle;
        cursor: pointer;
    }

    #tak {
        text-align: center;
    }




    /*Footer Desktop*/

}
